COMP603_CUI_WhoWantsToBeAMillionaire/src/comp603_cui_whowantstobeamillionaire/leaderboard.txt
COMP603_CUI_WhoWantsToBeAMillionaire/lib
COMP603_CUI_WhoWantsToBeAMillionaire/nbproject
COMP603_CUI_WhoWantsToBeAMillionaire/build/
COMP603_CUI_WhoWantsToBeAMillionaire/derby.log
COMP603_CUI_WhoWantsToBeAMillionaire/sample/db.lck
COMP603_CUI_WhoWantsToBeAMillionaire/sample/log/log2.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c10.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c121.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c150.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c171.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c180.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c191.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c20.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c230.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c251.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c290.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c2c1.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c31.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c41.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c51.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c60.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c71.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c81.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c90.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/c910.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/ca1.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/cb1.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/cc0.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/cd1.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/ce1.dat
COMP603_CUI_WhoWantsToBeAMillionaire/sample/seg0/cf0.dat
/COMP603_CUI_WhoWantsToBeAMillionaire/dist/
